@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", sans-serif;
}
/* banner section style start here */
.banner-container{
    width:1320px;
    height: 600px;
    border:1px solid red;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.banner-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.banner-text-container p, h3{
color: white;
}
.banner-container p{
    font-size: 35px;
}
.banner-text-container h3{
    font-size:75px;
}