@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", sans-serif;
}
/* banner section style start here */
.banner-container{
    width:1320px;
    height: 600px;
    /* border:1px solid red; */
    margin: 0 auto;
    margin-top: 50px;
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}
.banner-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.banner-text-container p, h3{
color: white;
}
.banner-container p{
    font-size: 35px;
}
.banner-text-container h3{
    font-size:75px;
}

/* 65% off section style staer here */
.new-year-offer-container{
    width: 800px;
    /* border:1px solid red; */
    margin:0 auto;
    margin-top: 120px;
}
.new-year-offer-container h1{
    color:red;
    text-align: center;
    font-size: 88px;
    font-weight:bold;
}
.new-year-offer-container p{
    font-size: 24px;
    font-weight:normal;
    text-align: center;
    color:red;
    margin-top: 30px;
}
.new-year-offer-container h4{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
}
.off-section-img{
    margin-top: 48px;
}

/* midnight party sryle start here */
.midnight-container{
    width:1320px;
    height: 600px;
    margin: 0 auto;
    background-image: url(../images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    margin-top:120px;
    border-radius: 10px;
}
.midnight-container h3{
    font-size: 64px;
    font-weight:bold;
    margin-left: 126px;
    padding-top:126px;
}
.midnight-container p{
    font-size: 18px;;
    font-weight:normal;
    margin-top: 24px;
    margin-left: 126px;
    color:#FFFFFF;
}
.midnight-container span{
    display: block;
    color:#FFFFFF;
    font-size: 20px;
    font-weight:bold;
    margin-left: 158px;
    margin-top: 48px;
}

/* place section style start here */
.place-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:1320px;
    height:400px;
    /* border:1px solid red; */
    margin:0 auto;
    background-color:#FFECE9;
    margin-top: 120px;
    gap:10px;
    border-radius: 10px;
}
.place-text{
    font-size: 32px;
    font-weight: 500;
}
.red{
    color:red;
}
.place-button{
    background-color:#FF0000;
    padding:16px 32px;
    margin-top: 48px;
    border-radius: 10px;
    color:wheat;
    font-size: 20px;
    font-weight: bold;
    border:none;
}